.bar{
    background-color:#cc0000;
    width: 100%;
}
.nav-item{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item :hover{
    background-color:rgb(5, 196, 5);
}
form{
  /*  border:1px solid none;
    width: 400px;
    margin:auto;
    margin-top: 30px;*/
    background-color: yellowgreen;
    border: 1px solid none;
    padding: 30px 20px;
    margin-top: 5vh;
    width: 420px;
   /* height:810px;*/
  }
  .form-group{
   /* margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;*/
    border:2px solid white;
    border-radius: 10x;
     display:block;
    padding: 10px;
    font-size: 18px;
    font-weight:600;
    width:100%;
    outline:none;
    
}
.header {
	border-bottom: 1px solid #ffb3ff;
    padding: 5px 30px;
    color:#1a1aff;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}
@media screen and (max-width: 415px) {
    form{
      width: 350px;
    }
  }
@media screen and (max-width: 376px) {
    form{
      width: 310px;
    }
  }
  @media screen and (max-width: 321px) {
    form{
      width: 280px;
    }
  }
 /* @media screen and (max-width: 415px) {
    form{
      width: 350px;
    }
  }*/

  .rating-star {
      direction: rtl;
      font-size: 40px;
      unicode-bidi: bidi-override;
      display: inline-block;
      margin-left: 25px;
  }
  .rating-star input {
      opacity: 0;
      position: relative;
      left: -30px;
      z-index: 2;
      cursor: pointer;
  }
  .rating-star span.star:before {
    /*  color: #777777;*/
        color: white;
  }
  .rating-star span.star {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      position: relative;
      z-index: 1;
  }
  .rating-star span {
      margin-left: -30px;
  }
  .rating-star span.star:before {
     /* color: #777777;*/
      color: white;
      content:"\f006";
  }
  .rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
      color: #ffd100;
      content:"\f005";
  }
   
  .selected-rating{
      color: #ffd100;
      font-weight: bold;
      font-size: 42px;
  }