.bar{
    background-color:#cc0000;
    width: 100%;
}

.nav-item{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item :hover{
    background-color:rgb(5, 196, 5);
}
.one{
    background-color: #e0e0d1;
}

.two{
    background-color:#ffd24d;
    border: 5px solid #ffd24d;;
}