<html>

<head>
    <title> Registration </title>
    <link rel="stylesheet" href="../static/css/Basic.css">
    <style>
        .text {
            height: 400px;
        }
    </style>
</head>

<body>
    <div class="image">
    </div>

    <div class="text">
        <a id="back" href="../index.html">BACK </a>
        <h3> Sign Up
            <h3>
                <form action="./HomePage.html">
                    <input id="unm" type="text" name="username" placeholder="Name" required autofocus><br><br>

                    <input id="em" type="email" name="useremail" placeholder="Email" required><br><br>

                    <input id="pwd" type="password" name="password" placeholder="Password" required><br><br>

                    <input id="cpwd" type="password" name="cpassword" placeholder="Confirm Password" requried><br><br>

                    <input id="age" type="number" name="userage" placeholder="Age"><br><br>

                    <input id="reg" type="submit" value="Register">

                </form>
    </div>
</body>

</html>