<html>
<head>
    <title> View Book </title>
     <link rel="stylesheet" href="../static/css/ViewBook.css">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body> 
<div class="bar">
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="#">LOGO</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="HomePage.html">HOME</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
             <li class="nav-item">
                <a class="nav-link active" href="../index.html">LOG OUT</a>
            </li>
        </ul>
    </nav>
</div>
<div class="image">
</div><br>
<h2> The Kite Runner </h2>
<div class="summary">
    <p>
        The unforgettable, heartbreaking story of the unlikely friendship between a wealthy boy 
        and the son of his father’s servant, The Kite Runner is a beautifully crafted novel set in 
        a country that is in the process of being destroyed. It is about the power of reading, 
        the price of betrayal, and the possibility of redemption; and an exploration of the power 
        of fathers over sons—their love, their sacrifices, their lies.
    </p>
    <p>
        A sweeping story of family, love, and friendship told against 
        the devastating backdrop of the history of Afghanistan over 
        the last thirty years, The Kite Runner is an unusual and powerful 
        novel that has become a beloved, one-of-a-kind classic.
    </p>
     <form>
            <input id="read" type="submit" value="Read book">
    </form>
</div>
</body>
</html>