
<html>
<body>
    

    <!-- Page content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-xs-12"></div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                     <h1 class="display-4"> Add Book Details </h1>
                        <form id="book-form" #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <div class="form-group">
                                <label for="title"> Title</label> 
                                <input type="text" ngModel required #booktitle="ngModel" name="booktitle" class="form-control" id="title">
                            </div>
                            <div class="form-group">
                                <label for="author">Author</label>
                                <input type="text" ngModel required #bookauthor="ngModel" name="bookauthor" class="form-control" id="author">
                            </div>
                            <div class="form-group">
                                <label for="genre">Category</label>
                                <input type="text" ngModel required #bookgenre="ngModel" name="bookgenre" class="form-control" id="genre">
                            </div>
                            <div class="form-group">
                                <label for="genre">Description</label>
                                <input type="text" ngModel required #bookdescription="ngModel" name="bookdescription" class="form-control" id="genre">
                            </div>
                            <div class="form-group">
                                <label for="about">About Author</label>
                                <input type="text" ngModel required #bookaboutauthor="ngModel" name="bookaboutauthor" class="form-control" id="about">
                            </div>
                            <div class="form-group">
                                <label for="img">Image Upload</label>
                                <input type="file" ngModel required #bookimg="ngModel" name="bookimg" class="form-control" (change)="selectImage($event)" id="img">
                            </div>
                            <button type="submit" class="btn btn-danger btn-block">Add Book</button>
                        </form>
                        
                 </div>
                <div class="col-sm-3 col-md-3 col-xs-12"></div>
                
            </div>
        </div>
    </div>   
    
</body>
</html>
